*{
    margin:0;
    padding:0;
}


.modify{
    display: flex;
    list-style: none;
    
     
}
.logo{
    padding-left: 20px;
    padding-top: 20px;
}


.nav-link {
    margin-right: 40px;
     text-decoration: none;
     
     

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  
}
.Highlights{
    flex-wrap: wrap;
    font-size: 150%;
    text-shadow: 1px 5px 8px;
    font-size: 200%;
}

.nav-color{
    color: gray;
}
.nav-one{
    color:black;
}
.extra-cart{
    display: none;
}
.text-part{
   gap:
}

.image{
   
   
}
.governing-body{
   display: flex;
   justify-content: space-around;
   align-items: center;
   padding:0px 100px 100px 100px;
   margin: auto;
}
.orange{
    color: orangered;
}
.paragraph-change{
    flex-wrap: wrap;
}

.governing-body-2{
    display: block;
    justify-items: center;
  
}
.text-size{
    font-size: 300%;
    text-shadow: 1px 3px 70px ;
    
}
.orange-btn{
    background-color: rgb(243, 95, 41);
    color: antiquewhite;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    
    margin-bottom: 10%;
}
.card{
    display: block;
    
}
.card-base{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    text-align: center;
    padding: 10%;
    padding-top:2%;

}
h5{
   
    
}
.flower-cell{
    display: flex;
    /* padding: 10%; */
    justify-content: space-evenly;
    padding:0px 200px 150px ;
    align-items: center;
    gap: 60px;
    
} */


 .bold-marks h1{
    text-align: center;
    margin: 5%;
    padding: 10%;

  
    
      }
      .text{
        font-size: 50px;
        text-shadow: 0px 3px 15px black;
      }
      .list{
        margin-bottom: 10px;
        color: rgba(51, 50, 50, 0.705);
    }
    .heading{
        
        
    }
    .badge{
     width: 13%;
     position:absolute;
     left:620px ;
    bottom: -990px;
    }
    .text-color{
        color: rgb(46, 45, 45);
    }
    .span{
        color: orangered;
    }
    .division-3{
        text-align: center;
        font-size: larger;
    }
    .images{
        display: flex;
        justify-content:space-between;
        border-radius: 10%;
        padding-bottom: 119px;
        padding:5%;
        
        
        
    }
    .photo-part{
        
    }
    /* .parent{
        padding:0px;
    } */

    

    .bg1{
        width: 366px;
        height:200px;
        padding: 5px;


        
        
     background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./assets/deal-bloom.png);
     background-size:;
     margin:;
     padding:;
     
     
     border-radius: 22px;

     
     


    }
    .bg2 {
        width: 366px;
        height: 200px;
        margin-top: 10px;
        padding-right: 25px;
        
        
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/deal-ana.png');
    border-radius: 22px;

    }

    .bg3{
      width: 700px;
      height: 450px;
      background-image: url(./assets/deal-zabo.png);
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/deal-zabo.png');
    border-radius: 22px;}
    .white{
        color: white;
        text-align: center;
        justify-content: center;
        position: relative;
        top: 50%;
        bottom: 50%;
        }
        .size{
            font-size: larger;
            list-style:circle;
        }
        .division-3{
            font-size: larger;
        }

        .footer-img{
              background-image: url(./assets/news-letter-bg.png);
            background-size: cover;
            padding: 0px;
            margin: 0PX;
            width: 100%;
            height: 500px;
            


            
        }
        .mail-footer{
           
    
            text-align: center;
            position: relative;
            top: 50%;
            bottom: 50%;

        }
#mail-chamber{
    width: 750px;
    height: 50px; 
    align-items: center;
    justify-items: center;
    padding-left:10px ;
    border: 0;

}

.mail-footer h1 {
    color: aliceblue;
}

.orange-btn{
    background-color: rgb(243, 95, 41);
    color: antiquewhite;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    
    margin-bottom: 10%;
}
 .align{
    display: flex;
 }

 .grid-align{
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }

 .first-five .second-five{
    display: grid;
    grid-template-columns:repeat(4,1fr) ;
 }
 .align{
    display:flex;
    justify-content: space-around;
    padding: 30px;
 }
 .box-2 p ,.box-3 p{
    margin-bottom: 20px;
 }
    
 @media screen and (max-width:375px) {
    
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .modify{
        display: none;
    }
    /* .modify .extra{
        display: space-between;
    }
     */
     .extra-cart{
        display: block;
     }
     .banner{
        flex-direction: column-reverse;
     }
     .governing-body{
        flex-direction: column-reverse;
        padding: 0;
     }
     .image img{
        width: 370px;
        
     }
     .image{
        padding: 0;
        margin: 0;
     }
     .text-decoration h1{
        font-size: 24px;
        margin:0;
        padding: 0px;
     }
     .text-part{
        margin-top: 30px;
     }
     .governing-body-2 h2{
        font-size: 24px;
     }
     .governing-body-2{
        margin-top: 30px;
     }
     .card-base{
        grid-template-columns: repeat(2 , 1fr);
        padding: 0;
     }
     .card img{
        width: 170px;
     }
     .badge{
        display: none;
     }
     .flower-cell{
        flex-direction: column;
        padding: 0;
     }
     .man{
        width: 358px;
     }
     .size{
        list-style:circle;
     }
     .bold-marks{
        padding: 5px;
     }
     .bold-marks h1{
        font-size: 24px;
        margin-top: 10px;
        margin-bottom: 20px;
     }
     .bold-marks ul{
        font-size: 14px;
     }
     .images{
        padding: 0;
        flex-direction: column;
     }
     .bg1{
        padding: 0;
     }
     .bg2{
        width: 100%;
        padding: 0%;
     }
     .bg1 ,.bg2 ,.bg3{
        width:97%;
        height: 180px;
        margin: 5px;
     }
     #mail-chamber{
        width: 85%;
        margin-bottom: 20px;
     }
     .align{
        flex-direction: column;
        gap: 10px;
     }
 }